<div class="row">
  <div class="col-12">
    <app-main-menu-button></app-main-menu-button>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card mx-auto mb-6 preview">
      <div class="card-header">
        <i class="fa fa-bar-chart"></i> Preview
      </div>
      <div class="card-body">
        <ace-editor
             [(text)]="model.text"
        [mode]="'sql'"
        [theme]="'dracula'"
        [options]="options"
        [readOnly]="false"
        [autoUpdateContent]="true"
        style="min-height: 200px; width:100%; overflow: auto;"></ace-editor>


      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mx-auto mb-6 preview">
      <div class="card-header">
        <i class="fa fa-bar-chart"></i> Preview
      </div>
      <div class="card-body">
        <div [innerHtml]="convert(model.text)"></div>
      </div>
    </div>
  </div>

</div>
<div class="row" *ngIf="plainFile">
  <div class="col-md-12">
    <div class="card mx-auto mb-6">
      <div class="card-header">
        <i class="fa fa-bar-chart"></i> Markdown CheatSheet
      </div>
      <div class="card-body">
        <div [innerHtml]="convert(plainFile)"></div>
      </div>
    </div>
  </div>
</div>


