<div class="row">
  <div class="col-12">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Map Tools</h1>
        <p class="lead text-muted">A collection of map tools and resources, to help you with your maps.</p>
      </div>
    </section>


    <!-- Services section -->
    <section id="what-we-do">
      <div class="container-fluid">
        <h2 class="section-title mb-2 h1">Libraries</h2>
        <p class="text-center text-muted h5">Updated and fixed libraries for 1.29+.</p>
        <div class="row mt-5 justify-content-center">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card" routerLink="/tools//library/hcl">
              <div class="card-block block-1">
                <h3 class="card-title">Map Meta Data</h3>
                <p class="card-text">Allows saving data from map to hostbot.</p>
                <a title="Read more" class="read-more">Get Library<i
                  class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card" routerLink="/tools//library/mmd">
              <div class="card-block block-2">
                <h3 class="card-title">HostBot Command Library</h3>
                <p class="card-text">Allows sending small amounts of data from hostbot to map.</p>
                <a title="Read more" class="read-more">Get Library<i
                  class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-block block-3">
                <h3 class="card-title">Special title</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:void();" title="Read more" class="read-more">Read more<i
                  class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div> -->
        </div>
        <!--<div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-block block-4">
                <h3 class="card-title">Special title</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:void();" title="Read more" class="read-more">Read more<i
                  class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-block block-5">
                <h3 class="card-title">Special title</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:void();" title="Read more" class="read-more">Read more<i
                  class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-block block-6">
                <h3 class="card-title">Special title</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:void();" title="Read more" class="read-more">Read more<i
                  class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </section>
    <!-- /Services section -->

    <!-- Services section -->
    <section id="what-we-do">
      <div class="container-fluid">
        <h2 class="section-title mb-2 h1">Tools</h2>
        <p class="text-center text-muted h5">Tools for helping out with your map.</p>
        <div class="row mt-5 justify-content-center">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card" routerLink="/tools/loadingscreen">
              <div class="card-block block-1">
                <h3 class="card-title">Loading Screen Generator</h3>
                <p class="card-text">Generates a cut up loading screen, ready to import to warcraft, from a 1024x768 image.
                  <span class="text-warning">Account Required.</span></p>
                <a title="Read more" class="read-more">Go to tool<i
                  class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-block block-2">
                <h3 class="card-title">Special title</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-block block-3">
                <h3 class="card-title">Special title</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>-->
        </div>
        <!--<div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-block block-4">
                <h3 class="card-title">Special title</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-block block-5">
                <h3 class="card-title">Special title</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-block block-6">
                <h3 class="card-title">Special title</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </section>
    <!-- /Services section -->

  </div>
</div>






